<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.tackmobile.test.testapplication2.testapp2"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <provider android:name=".TestApplication2Provider"
              android:authorities="com.tackmobile.content.app2"
              android:syncable="true"
              android:label="@string/app_name" />

    <service
        android:name=".SyncService"
        android:exported="true"
        android:process=":sync">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data android:name="android.content.SyncAdapter"
                 android:resource="@xml/syncadapter" />
    </service>

  </application>

</manifest>
